body {
	height: 100%;
}
html {
	height: 100%;
}
.login {
	background: url('/static/images/2.png') no-repeat;
	background-size: cover;
	height: 100%;
}
.inbox {
	a {
		&:hover {
			background-color: #c6c6c6;
		}
	}
}
.unread {
	font-weight: bold;
}
.wrapper {
	margin-top: 50px;
}
.register-form {
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.outer-box {
	border: 1px solid #eee;
	padding: 20px 50px 50px;
	border-radius: 5px;
	background: #f6f6f6;
	min-width: 450px;
	position: relative;
	box-shadow: 1px 0px 20px -2px #ccc;
	hr {
		margin: 0 auto 20px;
		width: 25%;
		border: 2px solid #999;
		border-radius: 5px;
		&:before {
			content: "";
			position: absolute;
			top: -60px;
			left: 0;
			right: 0;
			width: 14%;
			margin: 0 auto;
			border-radius: 10px;
			border-left: 22px solid rgba(255,255,255,0.71);
			border-right: 22px solid rgba(255,255,255,0.71);
			border-top: 80px solid rgba(255,255,255,0.71);
			transform: translate(0%, 0%);
			box-shadow: 0px -3px 0px #252424;
		}
		&:after {
			content: "";
			position: absolute;
			top: -75px;
			left: 0;
			right: 0;
			width: 14%;
			margin: 0 auto;
			border-radius: 10px;
			border-left: 22px solid rgba(255,255,255,0.71);
			border-right: 22px solid rgba(255,255,255,0.71);
			border-top: 80px solid rgba(255,255,255,0.71);
			transform: translate(0%, 0%);
			box-shadow: inset 0px -3px 0px #252424;
		}
	}
	.circle-img {
		position: absolute;
		left: 0;
		top: -36px;
		border: 5px solid #d8d9da;
		border-radius: 50px;
		display: block;
		width: 20px;
		height: 20px;
		right: 0;
		margin: 0 auto;
		outline: none;
		background: #4f545d;
	}
}
.resources {
	progress {
		width: 100%;
	}
	.table {
		>tbody {
			>tr {
				>td {
					vertical-align: middle;
				}
			}
		}
	}
	.uploadbtn {
		border: none;
		box-shadow: none;
	}
	.glyphicon-upload {
		color: #5cb85c;
	}
	.glyphicon-remove {
		color: #c9302c;
	}
	h2 {
		margin-top: 0;
	}
	a {
		color: #000;
		text-decoration: none;
	}
}
.padding0 {
	padding: 0;
}
.box {
	position: relative;
	margin: 0;
	input {
		&:nth-of-type(1) {
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
		&:nth-of-type(2) {
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}
		text-indent: 25px;
		clear: both;
		height: 60px;
		border-radius: 0;
		box-shadow: none;
	}
	i {
		position: absolute;
		left: 10px;
		top: 18px;
	}
	i.flaticon-lock {
		top: 75px;
	}
}
.form-control {
	&:focus {
		box-shadow: none;
	}
}
.icon {
	&:before {
		margin-left: 0;
	}
}
.courses {
	padding: 80px 250px 0;
	position: relative;
	.cust-container {
		margin: 0 auto;
		width: 970px;
		max-width: 100%;
	}
	.row {
		display: flex;
		flex-wrap: wrap;
		.card {
			position: relative;
			border:1px solid rgba(204, 204, 204, 0.8);
			border-radius: 5px;
			margin-bottom: 30px;
			a {
				text-decoration: none;
				color: #000;
			}
			.card-header {
				img {
					width:100%;
					border-top-right-radius: 5px;
					border-top-left-radius: 5px;
				}
			}
			.card-body {
				padding: 5px;
				h3 {
					margin:0 0 10px 0;
					text-transform: capitalize;
				}
				p {
					margin: 0;
				}
			}
			&:hover {
				// box-shadow: 1px 1px 1px 4px rgba(204, 204, 204, 0.5);
			}
		}
	}
	.left-panel {
		border: 1px solid #ccc;
		position: fixed;
		left: 0;
		top: 50px;
		height: auto;
		min-height: 100%;
		width: 200px;
		background: #f6f6f6;
		ul {
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				padding: 10px 5px;
				width: 100%;
				position: relative;
				a{
					text-decoration: none;
					display: block;
					color: #000;
					span.count {
						display: inline-block;
				    border-radius: 50px;
				    padding: 2px 5px;
				    float: right;
				    background: #d9534f;
				    color: #fff;
				    font-weight: bold;
					}
				}
				&:hover {
					background: #ccc;
				}
				&:before {
					// content: "\203A";
					// position: absolute;
					// right: 15px;
				}
			}
		}
	}
}
/* main menu css */
.main-menu {
	z-index: 99;
	background: #f6f6f6;
	border-radius: 0px;
	border: none;
	box-shadow: 0 1px 6px #B9B1B1;
	.navbar-header {
		a.navbar-brand {
			color: #000;
		}
		&:hover {
			color: #000;
		}
	}
	.navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
		margin-right: 15px;
		li {
			a {
				color: #000;
			}
			&:hover {
				background: #9d9d9d;
			}
		}
	}
}

