@media screen and (max-width: 1440px) {
	.courses {
		padding-right: 20px;
	}
}
@media screen and (max-width: 767px) {
	.environment {
		border: none;
		.table-bordered {
			border: 1px solid #ddd;
		}
	}
	.main-menu {
		.navbar-collapse {
			padding-right: 0;
		}
		.navbar-nav {
			margin-right: 0;
		}
	}
}
@media screen and (max-width: 480px) {
	.outer-box {
		min-width: 100%;
	}
}