{% extends "layouts/default.html" %}
{% block content %}
	<div class="wrapper">
		<div class="inbox container">
			<h1 class="text-center">Inbox</h1>
			<div class="row">
				{% for notification in notifications.notification_status %}
					<a href="/inbox/{{notification.uid}}"  class="{% if (notification.status == false) %} unread {% endif %}" title="">
						<div class="col-md-12">
							<p>{{notification.title}} {{notification.status}}</p>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
<table class="table table-bordered">
	<tr>
		<th>Title</th>
		<th>Status</th>
	</tr>
	{% for notification in notifications.notification_status %}
		<a href="/" title="">
			<tr class="{% if (notification.status == false) %} unread {% endif %}">
			<td>{{notification.title}}</td>
			<td>{{notification.status}}</td>
		</tr>
	</a>
{% endfor %}
</table>