{% extends 'layouts/default.html' %}
{% block content %}
	<div class="courses">
		<div class="cust-container">
			<div class="row">
				{% for course in courses%}
					<div class="col-md-3 col-sm-4 col-xs-12">
						<div class="card">
							<a href="{{course.url}}" title="">
								<div class="card-header">
									<img src="../static/images/login-lmsbg.png">
								</div>
								<div class="card-body">
									<h3>{{course.title}}</h3>
									<p>{{course.description | truncate(150,true)}}</p>
								</div>
								<div class="card-footer">
									<!-- is availabe -->
								</div>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="left-panel">
				<h1>Notifications <span class="count">1000</span></h1>
				<!-- <ul>
					<li>
						<a href="javascript:void(0)">Notifications <span class="count">1000</span></a>
					</li>
				</ul> -->
			</div>
		</div>
	</div>
	<div class="modal fade" id="notifmodal" tabindex="-1" role="dialog" aria-labelledby="notifmodalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="notifmodalLabel">Title</h4>
      </div>
      <div class="modal-body">
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}